doctype html
html
  head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    link(rel='stylesheet' type='text/css' href='/stylesheets/trello-style.css')
    script(src='/javascripts/trello.js')
  body
    block content